/* ProductList.css */

/* Container styles */
.products-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive grid with square cards */
  gap: 70px; /* Spacing between products */
  justify-content: center; /* Center the products */
}

/* Product card styles */
.product-card {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Adjust the width as needed */
  background-color: lavenderblush;
  text-align: center;
  box-shadow: 0 0 10px 5px #ff1493;
  position: relative;
}
.product-card:hover {
  box-shadow: 0 0 10px 5px #ff1493;
}
.product-header {
  color: black;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Bungee Inline", cursive;
  font-family: "Shrikhand", cursive;
}

.product-card h2 {
  font-size: 24px;
  color: black; /* Pink color for product name */
  margin: 0;
  font-family: "Bungee Inline", cursive;
  font-family: "Shrikhand", cursive;
  text-decoration-line: underline;
}

.product-card h2:hover {
  color: #ff1493;
  text-decoration-line: underline;
}

.product-card p {
  font-size: 16px;
  color: #333; /* Dark gray color for brand and description */
  margin: 10px 0;
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.product-card .price {
  font-size: 20px;
  color: #ff1493; /* Pink color for price */
  margin-top: 10px;
}

.product-brand {
  font-size: 18px;
  color: #ff1493; /* Pink color for brand */
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
}

/* New CSS to center the images within the square boxes */
.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Scale and center the image within the container */
}

#added {
  color: green;
}
/* WishList.css */

/* WishList.css */

.cart-total {
  background-color: lavenderblush; /* Light pink color */
  border: 1px solid #ccc;
  padding: 20px; /* Smaller padding */
  margin-top: 10px; /* Smaller margin-top */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #ff1493;
  font-family: "Bungee Inline", cursive;
  font-family: "Shrikhand", cursive;
}

.cart-total h3 {
  margin: 0;
  font-weight: bold;
  font-size: 1rem; /* Smaller font size */
}

.total-price {
  margin-left: 5px;
  font-size: 1 rem; /* Smaller font size */
  color: #ff1493; /* Your desired pink color */
  font-weight: bold;
}
.product-label {
  color: black;
  font-family: "Bungee Inline", cursive;
  font-family: "Shrikhand", cursive;
}

.create-product-link {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
}
/* Add this CSS to your ProductList.css file */

.makeup-pref {
  /* Position the makeup preference info at the bottom of the product card */
  position: absolute;
  bottom: 10px; /* Adjust the value to control the distance from the bottom */
  left: 10px; /* Adjust the value to control the distance from the left */
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.prefrence-image {
  /* Style for the makeup preference image */
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  margin-right: 5px; /* Add some spacing between the image and label */
}

.makeup-pref-label {
  /* Style for the makeup preference label */
  font-size: 14px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the label bold */
}
#user-greeting {
  color: black;
}
