/* TipList.css */

/* Container styles */
.tips-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Responsive grid */
  gap: 70px; /* Spacing between tips */
  justify-content: center; /* Center the tips */
  font-family: "Bungee Inline", cursive;
  font-family: "Shrikhand", cursive;
}

.tip-header {
  color: #ff1493;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Tip card styles */
.tip-card {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Adjust the width as needed */
  background-color: lavenderblush;
  text-align: center;
}

.tip-card h2 {
  font-size: 24px;
  color: #ff1493; /* Pink color for tip title */
  margin: 0;
  font-family: "Bungee Inline", cursive;
  font-family: "Shrikhand", cursive;
}

.tip-card p {
  font-size: 16px;
  color: #333; /* Dark gray color for description */
  margin: 10px 0;
}

.tip-card .skill-level {
  font-size: 18px;
  color: #ff1493; /* Pink color for skill level */
  margin-top: 10px;
}

.tip-card .delete-button {
  background-color: #ff1493; /* Pink color for delete button */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.tip-card .delete-button:hover {
  background-color: #ff006e; /* Darker pink color on hover */
}

.tip-list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Bungee Inline", cursive;
  font-family: "Shrikhand", cursive;
}

.tip-header {
  color: #ff1493;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

/* Sparkle image styles */
.sparkle-image {
  width: 50px;
  height: 50px;
  margin-left: 10px; /* Adjust the margin as needed to position it correctly */
}

.skill-level-tips {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bungee Inline", cursive;
  font-family: "Shrikhand", cursive;
}
.create-tip-link {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
}
